@page

@model IndexModel
@{
    ViewData["Title"] = "Received requests";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Family Hubs Example</h1>
        
        <p>An example site for documentation and testing.</p>
        
        <h2 class="govuk-heading-m">Components</h2>
        
        <a href="/Components/Pagination">Pagination</a>
    </div>
</div>
