@model FamilyHubs.SharedKernel.Razor.Errors.Error?

@if (Model != null)
{
    <p class="govuk-error-message" id="@(Model.InputErrorMessageParaId)">
        <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
    </p>
}