@model FamilyHubs.SharedKernel.Razor.ErrorNext.TriggeredError?

@if (Model != null)
{
    <p class="govuk-error-message" id="@Model.InputErrorMessageParaId">
        <span class="govuk-visually-hidden">Error:</span> @Model.Message
    </p>
}