@using FamilyHubs.SharedKernel.Razor.FamilyHubsUi
@* we could use IOptionsSnapshot for updates without downtime, but we probably don't want the overhead for something so central*@
@inject FamilyHubsLayoutModel FamilyHubsLayoutModel
@{
    FamilyHubsLayoutModel.PageModel = Model as Microsoft.AspNetCore.Mvc.RazorPages.PageModel;
    var familyHubsUiOptions = FamilyHubsLayoutModel.FamilyHubsUiOptions.Value;
}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <partial name="_Head.cshtml" model="familyHubsUiOptions"/>

    @*todo: probably include these in _head also*@
    <link rel="stylesheet" href="~/css/application.css" asp-append-version="true"/>
    <!--[if IE 8]>
        <link href="~/css/govuk-frontend-ie8-4.5.0.min.css" rel="stylesheet">
    <![endif]-->
</head>

<body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <partial name="_CookieBanner.cshtml" model="familyHubsUiOptions" />

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <partial name="_Header.cshtml" model="FamilyHubsLayoutModel" />

    <div class="govuk-width-container">
        <partial name="_PhaseBanner.cshtml" model="familyHubsUiOptions" />

        @await RenderSectionAsync("Back", required: false)

        <main class="govuk-main-wrapper custom-main" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer.cshtml" model="familyHubsUiOptions" />

@*  is it better to include the version number in the script,
    which means after a new deployment, if the script hasn't changed, the user browsers can used their cached version,
    or use asp-append-version, which means that after a deployment browsers could refetch the script unnecessarily,
    but means we wouldn't have to update these version numbers when we update the familyhubs or govuk npm packages?
    for now we go with the more efficient version, but we might change to the easier to maintain version later *@

    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/js/govuk-frontend-4.5.0.min.js"></script>
    <script src="~/js/ministryofjustice-frontend-1.6.6.js"></script>
    <script src="~/js/dfefrontend-0.1.8.js"></script>
    <script src="~/js/familyhubs-frontend-1.0.61-alpha.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>

    <script>
        window.GOVUKFrontend.initAll();
        window.MOJFrontend.initAll();
        window.FamilyHubsFrontend.initAll();
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>