@page
@model FamilyHubs.Example.Pages.Examples.VisibilityToggle.IndexModel

<h1 class="govuk-heading-l">Visibility toggle</h1>

<button class="govuk-button" data-module="govuk-button" id="toggle-button" type="button"
        data-toggle-visibility-id="to-toggle">
    Open / close
</button>

<div id="to-toggle">
    <p>Now you see me</p>
</div>
