
/*todo: rename these from app- to fh- */

.js-enabled .app-js-show {
    display: block;
}

.app-js-show {
    display: none;
}

.fh-button-link {
    border: none;
    padding: 0 !important;
    color: $govuk-link-colour;
    cursor: pointer;
    background: none !important;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        background-color: $govuk-focus-colour !important;
    }
}

/* change page width to 1200px */

.dfe-width-container, .govuk-width-container {
    margin: 0 16px;
    max-width: 1200px;
}

@media (min-width: 48.0625em) {
    .dfe-width-container, .govuk-width-container {
        margin: 0 32px;
    }
}

@media (min-width: 1264px) {
    .dfe-width-container, .govuk-width-container {
        margin: 0 auto;
    }
}
